h3{
    font-size: large !important;
}

.btn-success:hover{
    background-color: blue;
}

canvas{
    animation-name: col;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

@keyframes col{
    from{box-shadow: 1px 1px 40px blue;}
    to{box-shadow: 1px 1px 40px yellow;}
}